/* Base styles */
html {
    font-family: Raleway;
    color: #fafafa;
}

body {
    background: linear-gradient(to bottom right, black, grey);
    border: 2px solid white;
    outline-offset: 0px;
    height: 90vh;
    position: relative;
}

h1 {
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
}

#form {
    margin-bottom: 20px;
}

.centered {
    background: linear-gradient(to bottom right, blueviolet, skyblue);
    border: 2px solid skyblue;
    width: 75vh;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 3px;
}

.lists-wrapper, .todos-wrapper {
    display: inline-block;
    vertical-align: top;
}

.lists-wrapper {
    transform: translateX(-50%);
}

.lists-wrapper li {
    padding: 5px;
}

.lists-wrapper a, a:visited, a:hover, a:active {
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li button {
    padding: 5px;
    background: none;
    border: none;
    outline: none;
    color: red;
    cursor: pointer;
    font-size: 20px;
}