/* Base styles */
html {
    font-family: Raleway;
    color: #fafafa;
}

body {
    background: linear-gradient(to bottom right, black, grey);
    border: 2px solid white;
    outline-offset: 0px;
    height: 90vh;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}