<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Colin Huber">
    <title>To Do App</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <main class="centered">
        <h1>{{active_list.name }} to do list:</h1>
        <!-- <form id="form" action="/todos/create" method="POST"> -->
        <!-- Script below will now handle the POST request -->

        <div class="lists-wrapper">
            <ul id="lists">
                {% for list in lists %}
                <!-- <li>{{ list.name }}</li> -->
                <li><a href="/list/{{ list.id }}">{{ list.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="todos-wrapper">
            <form id="form">
                <input type="text" name="description" id="description">
                <input type="submit" value="Create">
            </form>
            <ul id="todos">
                {% for todo in todos %}

                <li>
                    <input class="check-completed" data-id="{{ todo.id }}" type="checkbox" {% if todo.completed %}
                        checked {% endif %}>

                    {{ todo.description }}

                    <button class="remove-todo" data-id="{{ todo.id }}" onclick="handleDelete(event)">x</button>
                </li>

                {% endfor %}
            </ul>
        </div>

    </main>

    <script type="text/javascript" src="{{ url_for('static', filename='js/processForm.js') }}"></script>

</body>

</html>